@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Din Pro';
  src: local('Din Pro'), local('./assets/fonts/din-pro-condensed-regular.ttf'),
    url('./assets/fonts/din-pro-condensed-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --brown: #c99e66;
  --white: #fff;
  --blue: #14395b;
  --react-international-phone-country-selector-arrow-color: #c99e66;
  --react-international-phone-height: auto;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.custom__container {
  padding: 0 5rem;
}

.room__img {
  display: block;
  max-height: 30rem;
  width: 100%;
  object-fit: contain;
}

.room__info {
  padding: 2rem 3rem;
  border: 1px solid #707070;
  border-radius: 0.5rem 0 0 0.5rem;
  background: rgba(23, 27, 37, 0.75);
  -webkit-backdrop-filter: blur(1.35rem);
  backdrop-filter: blur(1.35rem);
  width: 40%;
}

.room__title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--brown);
  font-weight: 700;
}

.preloader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  height: 100%;
  background: #142939;
  padding: 2rem;
  pointer-events: none;
  transition: all 0.4s ease-in;
}

.preloader.open {
  opacity: 1;
  pointer-events: all;
}

.preloader__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  width: 19rem;
}
.preloader-lines {
  width: 100%;
  height: 100%;
  position: relative;
}

.preloader-lines span {
  background: #c99e66;
}

.preloader-lines span:nth-child(1) {
  position: absolute;
  top: 0;
  right: 0;
  height: 0.25rem;
  width: 0;
  -webkit-animation: fillWidth 2s linear forwards;
  animation: fillWidth 2s linear forwards;
}

.preloader-lines span:nth-child(2) {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 0.25rem;
  -webkit-animation: fillWidth 2s linear forwards;
  animation: fillWidth 2s linear forwards;
}

.preloader-lines span:nth-child(3) {
  position: absolute;
  width: 0.25rem;
  bottom: 0;
  left: 0;
  height: 100%;
  -webkit-animation: fillHeight 2s linear forwards;
  animation: fillHeight 2s linear forwards;
}

.preloader-lines span:nth-child(4) {
  position: absolute;
  width: 0.25rem;
  top: 0;
  right: 0;
  -webkit-animation: fillHeight 2s linear forwards;
  animation: fillHeight 2s linear forwards;
}

@media (max-width: 2800.98px) {
  :root {
    font-size: 26px;
  }
}
@media (max-width: 2600.98px) {
  :root {
    font-size: 24px;
  }
}
@media (max-width: 2300.98px) {
  :root {
    font-size: 22px;
  }
}
@media (max-width: 2100.98px) {
  :root {
    font-size: 20px;
  }
}
@media (max-width: 1800.98px) {
  :root {
    font-size: 19px;
  }
}
@media (max-width: 1700.98px) {
  :root {
    font-size: 18px;
  }
}
@media (max-width: 1600.98px) {
  :root {
    font-size: 16px;
  }
}
@media (max-width: 1500.98px) {
  :root {
    font-size: 15px;
  }
}
@media (max-width: 1400.98px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 1300.98px) {
  :root {
    font-size: 13px;
  }

  .custom__container {
    padding: 0 4rem;
  }

  .feedback-form__input .react-international-phone-flag-emoji {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 1150.98px) {
  :root {
    font-size: 12px;
  }

  .feedback-form__input .react-international-phone-flag-emoji {
    width: 12px;
    height: 12px;
  }
}

@media (max-width: 1000.98px) {
  :root {
    font-size: 11px;
  }

  .custom__container {
    padding: 0 3rem;
  }
}

@media (max-width: 900.98px) {
  :root {
    font-size: 10px;
  }
}

@media (max-width: 767.98px), (max-width: 1080px) and (orientation: portrait) {
  :root {
    font-size: 16px;
  }

  .custom__container {
    padding: 0 3rem;
  }

  .mobile-menu__nova {
    text-align: center;
    margin-top: 2rem;
  }

  .mobile-menu__nova img {
    width: 7rem;
    display: inline-block;
  }

  .apartment__main::after {
    top: auto;
    bottom: 0;
    width: 100%;
    height: 35%;
  }

  .apartment__main {
    padding: 1.4rem 1.4rem 2.5rem;
  }

  .room__img-box {
    margin-left: 0;
    width: 100%;
    margin-bottom: 2rem;
  }

  .room__info {
    width: 85%;
    border-radius: 0 0 0.5rem 0.5rem;
  }

  .apartment__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .apartment__title {
    width: 100%;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-bottom: 2rem;
  }

  .room__carousel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .feedback-form__input .react-international-phone-flag-emoji {
    width: 11px;
    height: 11px;
  }
}

@media (max-width: 767.98px) {
  :root {
    font-size: 14px;
  }

  .custom__container {
    padding: 0 1.4rem;
  }

  .feedback-close {
    top: 0.5rem;
    right: 0.5rem;
  }
  .apartment__title {
    font-size: 1.9rem;
  }
  .room__info {
    width: 100%;
    padding: 1.4rem;
  }

  .feedback-form__input .react-international-phone-flag-emoji {
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 500.98px) {
  .custom__container {
    padding: 0 1.2rem;
  }
}

@media (max-width: 343.98px) {
  :root {
    font-size: 11px;
  }
}

@media (max-width: 300.98px) {
  :root {
    font-size: 10px;
  }

  .custom__container {
    padding: 0 1rem;
  }
}

@media (max-width: 1000px) and (orientation: landscape) {
  :root {
    font-size: 8.5px;
  }
}

@media (max-width: 700px) and (orientation: landscape) {
  :root {
    font-size: 8px;
  }
}
