.feedback {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.6s ease-in;
  background: rgba(20, 41, 57, 0.7);
}
.feedback.open {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.feedback-close {
  position: absolute;
  right: -1.6rem;
  top: -1.6rem;
  cursor: pointer;
}
.feedback-close svg {
  width: 1.1rem;
  height: 1.1rem;
}
.feedback-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background: #142939;
  width: 27rem;
  color: #fff;
  cursor: default;
}
.feedback-wrap {
  padding: 2rem 2.5rem;
  border: 0.2rem solid #c99e66;
  transition: all 0.2s ease-out;
}

.feedback-wrap.close {
  opacity: 0;
  pointer-events: none;
  display: none;
}

.feedback-done {
  padding: 2rem 2.5rem;
  border: 0.2rem solid #c99e66;
  display: none;
  pointer-events: none;
}

.feedback-done.open {
  pointer-events: all;
  display: block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.feedback__title {
  font-size: 1.25rem;
  font-family: 'Din Pro', sans-serif;
  text-align: center;
  margin-bottom: 1rem;
}
.feedback__text {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
  line-height: 100%;
  margin-bottom: 2rem;
  text-align: center;
}
.feedback-form__input {
  margin-bottom: 1.2rem;
}

.feedback-form__input span {
  display: block;
  margin-bottom: 0.7rem;
  font-size: 0.7rem;
}
.feedback-form__input input,
.feedback-form__input button {
  font-size: 0.8rem !important;
  border-radius: 0 !important;
  padding: 0.6rem 0.4rem !important;
  border: none !important;
  outline: none !important;
  color: #fff !important;
  background: rgba(255, 255, 255, 0.21) !important;
  width: 100% !important;
  display: block;
}
.feedback-form__input input::placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

.feedback-form__input .feedback-form__input-name {
  padding: 0.8rem 0.4rem !important;
}

.feedback-form__input .react-international-phone-input,
.feedback-form__input button {
  background: transparent !important;
}

.feedback-form__input button {
  height: auto !important;
  padding: 0 !important;
  padding: 0.6rem 0.4rem !important;
  border-right: 1px solid rgba(255, 255, 255, 0.2) !important;
  padding-left: 10px !important;
}

.feedback-form__input button:hover {
  background: #00000020 !important;
}

.react-international-phone-input-container {
  background: rgba(255, 255, 255, 0.21) !important;
}

.feedback-form__input .react-international-phone-input-container {
  align-items: center;
}

.react-international-phone-country-selector-button__dropdown-arrow {
  margin-left: 1px !important;
  width: 0;
  height: 0;
  border-left: 3px solid transparent !important;
  border-right: 3px solid transparent !important;
  border-top: 4px solid #c99e66 !important;
}

.feedback__btn {
  width: 100%;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
  color: #fff;
  border: 1px solid var(--brown);
  background: var(--brown) !important;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 3rem;
  font-size: 0.8rem;
}

.feedback__btn:hover {
  width: 100%;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
  color: var(--brown);
  border: 1px solid var(--brown);
  background: transparent !important;
}
.feedback__img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 3rem 0 2rem;
}
.feedback__img img {
  width: 5rem;
  filter: drop-shadow(0px 2px 5rem #7f5);
}
